[submodule "extern/JUCE"]
	path = extern/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
